<h3>Presentations</h3>

<table>
<thead>
<th>Title</th><th>Speaker</th>
</thead>
<tbody>
{{#each}}
    <tr>
  <td>
  {{~#link-to 'presentations.show' this}}
    {{title}}{{~/link-to}}</td><td>{{speaker.get('name')}}</td>
    </tr>
{{/each}}
</tbody>
</table>
