<h4 class="create-new-speaker">Create New Speaker</h4>

<p>Name:&nbsp;{{input value=name class='speaker-name'}}</p>

<p><button type='submit' {{action 'create'}} class='commit-speaker-creation'>Submit</button></p>
