<h4>Speaker:&nbsp;{{name}}</h4>&nbsp;{{link-to 'Edit' 'speakers.edit' model class="edit-speaker"}}

<p>{{link-to 'Delete' 'speakers.delete' model class='delete-speaker'}}</p>

<h5>Presentations</h5>
<ul>
  {{#each presentations}}
    <li>{{title}}</li>
  {{/each}}
</ul>
